<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="form-material">
          <div class="form-group">
            <!-- <label>Default Text <span class="help"> e.g. "George deo"</span></label> -->
            <input type="text" class="form-control form-control-line" placeholder="Buscar médico..." (keyup)="onKey(txtTermino.value)" (keyup.enter)="buscarMedico(txtTermino.value)" #txtTermino>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info">
      <div class="text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0"> Por favor espere</p>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Médicos ({{lstMedicos.length}})</h4>
            <h6 class="card-subtitle">Médicos registrados en mi aplicación.</h6>
          </div>
          <div class="col">
            <div class="text-right">
              <a [routerLink]="['/dashboard/medico/nuevo']" class="btn btn-secondary btn-rounded">
                <i class="fa fa-hospital-o"></i>
                Crear médico</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody *ngIf="lstMedicos.length > 0">
              <tr *ngFor="let medico of lstMedicos">
                <td style="width:40px">
                  <img [src]="medico.foto | fotoHospital:'medicos'" [alt]="medico.nombre" class="avatar cursor"
                    (click)="abrirModal(medico)">
                </td>
                <td>{{medico.nombre}}</td>
                <td class="text-nowrap">
                  <div class="text-center">
                    <a [routerLink]="['/dashboard/medico',medico._id]" data-toggle="tooltip" data-original-title="Editar">
                      <i class="fa fa-pencil text-inverse m-r-10"></i></a>

                    <a (click)="eliminarMedico(medico)" class="cursor" data-toggle="tooltip" data-original-title="Borrar">
                      <i class="fa fa-close text-danger"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="lstMedicos.length == 0">
              <tr>
                <td colspan=3 class="text-center">No hay registros.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <button class="btn btn-secondary">Anteriores</button>
        &nbsp;
        <button class="btn btn-secondary">Siguientes</button> -->
        <div class=text-right *ngIf="encontrados">
          Se encontraron {{totalEncontrados}} registros.
        </div>
      </div>
    </div>
  </div>
</div>