<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>
        <div class="alert alert-info" role="alert" *ngIf="lstUsuarios.length === 0">
          <p class="mb-0">No hay usuarios con ese término</p>
        </div>
        <div class="table-responsive" *ngIf="lstUsuarios.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of lstUsuarios" class="animated fadeIn fast">
                <td>
                  <img [src]="usuario.foto | fotoHospital:'usuarios'" class="w75">
                </td>
                <td>{{usuario.nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Médicos</h3>
        <div class="alert alert-info" role="alert" *ngIf="lstMedicos.length === 0">
          <p class="mb-0">No hay médicos con ese término</p>
        </div>
        <div class="table-responsive" *ngIf="lstMedicos.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of lstMedicos" class="animated fadeIn fast">
                <td>
                  <img [src]="medico.foto | fotoHospital:'medicos'" class="w75">
                </td>
                <td>
                  <a [routerLink]="['/dashboard/medico',medico._id]">
                    {{medico.nombre}}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitales</h3>
        <div class="alert alert-info" role="alert" *ngIf="lstHospitales.length === 0">
          <p class="mb-0">No hay hospitales con ese término</p>
        </div>
        <div class="table-responsive" *ngIf="lstHospitales.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of lstHospitales" class="animated fadeIn fast">
                <td>
                  <img [src]="hospital.foto | fotoHospital:'hospitales'" class="w75">
                </td>
                <td>
                  {{hospital.nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>