<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Médico</h4>
              <h6 class="card-subtitle">Actualizar información</h6>
              <form class="form p-t-20" id="medicoform" autocomplete="off" [formGroup]="medicoForm" (ngSubmit)="guardarMedico()">
                <div class="form-group">
                  <label class="control-label">Nombre</label>
                  <input type="text" id="nombre" class="form-control"
                      formControlName="nombre" placeholder="Nombre del médico">
              </div>
              <div class="form-group">
                  <label class="control-label">Hospital</label>
                  <select class="form-control custom-select" formControlName="hospital">
                    <option value="">--Elegir Hospital--</option>
                    <option *ngFor="let hospital of lstHospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                </select>
              </div>
              <div class="form-group" *ngIf="medicoSeleccionado">
                <label class="control-label">Foto</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <img [src]="medicoSeleccionado.foto | fotoHospital:'medicos'" class="card-img-top img-responsive img-avatar">
                  </div>
                </div>
              </div>
              <button type="submit" [disabled]="medicoForm.invalid" class="btn btn-inverse btn-block waves-effect waves-light">
                  <i class="fa fa-save"></i>
                  Guardar
              </button>
              </form>
          </div>
      </div>
  </div>
  <div class="col-md-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Avatar</h4>
            <h6 class="card-subtitle">{{hospitalSeleccionado.nombre}}</h6>
                <div class="card">
                    <div class="text-center">
                      <img [src]="hospitalSeleccionado.foto | fotoHospital:'hospitales'" class="card-img-top img-responsive img-avatar-editar">
                    </div>
                </div>
        </div>
    </div>
</div>
</div>